
body{
    font-family: Arial, sans-serif;
    background-color: #555655;
    margin: 0;
    padding: 0;
}

a {
    color: bisque;
}

a:hover {
    color: aqua;
}
#content {
    width: 60%;
    margin: auto;
    border: 1px solid #000340;
}
#banner {
    background-color: #580858 ;
    text-align: center;
    border: 1px solid #000000;
    margin: 10px;
    padding: 10px; 
}
#blogposts {
    margin: 10px;
    border: 1px solid #000000;
    background-color: rgb(8, 0, 117);
}
.post {
    margin: 10px;
    border: 1px solid #000000;
    padding: 10px;
    background-color: #6affa8;
}
