
body{
    font-family: Arial, sans-serif;
    background-color: #14e649;
    margin: 0;
    padding: 0;
}
#content {
    width: 60%;
    margin: auto;
    border: 1px solid #ff1d1d;
}
#banner {
    background-color: #520063;
    text-align: center;
    border: 1px solid #000000;
    margin: 10px;
    padding: 10px; 
}
#blogposts {
    margin: 20px;
    border: 1px solid #000000;
    background-color: rgb(6, 6, 7);
    display: flex;
    border-radius: 10px;

}
.post {
    margin: 10;
    border: 1px solid #000000;
    padding: 10px;
    background-color: #746aff;
    width: 50%;
    border-radius: 10px;
}

.post .left {
    float: center;
    margin-right: 10px;
width: 50%;
}

.Gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }
  
